.garden {
    position: relative;
    width : 200px;
    height: 200px;
    border: 5px solid #CCC;
    background: #ed6565;
    border-radius: 10px;
}
  
.ball {
    position: absolute;
    top   : 30px;
    left  : 250px;
    width : 20px;
    height: 20px;
    background: blue;
    border-radius: 100%;
}  
.ball2 {
    position: absolute;
    top   : 60px;
    left  : 250px;
    width : 20px;
    height: 20px;
    background: blue;
    border-radius: 100%;
}  
.ball3 {
    position: absolute;
    top   : 90px;
    left  : 2500px;
    width : 20px;
    height: 20px;
    background: blue;
    border-radius: 100%;
}  
